<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Recursion</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        <h1>Welcome to learnrecursion.com!</h1>
        <blockquote style="border-left: 2px solid rgb(121, 118, 118); width: 50%; margin: auto;"><p style="color: rgb(121, 118, 118); margin-left: 10px;">Recursion (adjective: recursive) occurs when a thing is defined in terms of itself or of its type. Recursion is used in a variety of disciplines ranging from linguistics to logic. The most common application of recursion is in mathematics and computer science, where a function being defined is applied within its own definition.</p><span style="color: rgb(121, 118, 118);">- Wikipedia</span></blockquote>
        <br/>
        <p>learnrecursion.com is a revolutionary new way of teaching one of the most difficult aspects of computer science.</p>
        <p>With the combined knowledge of every leading computer scientist, our fine-tuned method has helped <%- clicks %> developers learn recursion.</p>
        <p>Because of the amazing amount of support we have recieved from industry leaders,</p>
        <p>We provide this method at no cost to you!</p>
        <br/>
        <br/>
        <p>What are you waiting for? Click below to learn recursion today!</p>
        <br/>
        <form action="http://learnrecursion.com">
            <input type="submit" value="Get Started" />
        </form>
    </div>
</body>
</html>