<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Recursion</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        <h1>Welcome to learnrecursion.com!</h1>
        <p>learnrecursion.com is a revolutionary new way of teaching one of the most difficult aspects of computer science.</p>
        <p>With the combined knowledge of every leading computer scientist, our fine-tuned method has helped <%- clicks %> developers learn recursion.</p>
        <p>Because of the amazing amount of support we have recieved from industry leaders,</p>
        <p>We provide this method at no cost to you!</p>
        <br/>
        <br/>
        <p>What are you waiting for? Click below to learn recursion today!</p>
        <br/>
        <form action="http://learnrecursion.com">
            <input type="submit" value="Get Started" />
        </form>
    </div>
</body>
</html>