<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Learn Recursion</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script>console.log("https://github.com/about14sheep")</script>
</head>
<body>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="padding-bottom: 0%;">
        <p style="text-align: center;">Due to the amazing amount of support we have recieved from industry leaders,<br/> <span style="font-weight: bold;">learnrecursion.com is now <span style="color: green;">FREE</span>!!!</span></p>
      </div>
    <div class="container" style="text-align: center;">
        <h1>Welcome to learnrecursion.com!</h1>
        <br/>
        <blockquote style="border-left: 2px solid rgb(121, 118, 118); width: 75%; margin: auto;"><p style="color: rgb(121, 118, 118); margin-left: 10px;">Recursion (adjective: recursive) occurs when a thing is defined in terms of itself or of its type. Recursion is used in a variety of disciplines ranging from linguistics to logic. The most common application of recursion is in mathematics and computer science, where a function being defined is applied within its own definition.</p><span style="color: rgb(121, 118, 118);">- Wikipedia</span></blockquote>
        <br/>
        <br/>
        <p>learnrecursion.com is an award winning, revolutionary new way of teaching one of the most difficult aspects of computer science.</p>
        <p>With the combined knowledge of every leading computer scientist, our fine-tuned method has helped millions of developers learn recursion.</p>
        <br/>
        <p>What are you waiting for? Click below to learn recursion now!</p>
        <br/>
        <form action="https://www.learnrecursion.com">
            <input class="btn btn-outline-secondary" type="submit" value="Get Started" />
        </form>
        <br/>
        <p>Over <span style="color: red;"><%- clicks %></span> developers have learned recursion today!</p>
    </div>
</body>
</html>